body{
    padding: 10px;
}

.form-base{
    width: 100%;
    max-width: 300px;
    padding: 15px;
    margin: auto;
}

.error-message{
    color: red;
    font-size: 14px;
}
p{
    color: red;
    font-size: 14px;
}
span{
    color: red;
    font-size: 14px;
    margin: auto;
}
ul, ol {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    margin: auto;
}
.welcome {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    margin: auto;
    font-size: 40px;
}
.welcome form{
    font-size: 20px;
}
