<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
>
<h:head>
    <h:outputStylesheet name="bootstrap.css" library="css"/>
    <h:outputStylesheet name="main.css" library="css"/>
</h:head>


<h:body>
    <div class="welcome">
        <h:outputText value="Hi #{userContext.welcomeMessage}!"/>
        <h:form>
            <h:commandButton id="button" value="logout" action="#{logoutController.logout}"/>
        </h:form>
    </div>


</h:body>
</html>
