<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough" xmlns:f="http://xmlns.jcp.org/jsf/core"
>

<h:head>
    <h:outputStylesheet name="bootstrap.css" library="css" />
    <h:outputStylesheet name="main.css" library="css" />

</h:head>

<h:body>
    <h:form styleClass="form-base">
        <div class="form-group">
            <h:inputText id="username" styleClass="form-control" a:placeholder="Username"
                         value="#{loginRequest.username}">
                <f:validator validatorId="usernameLoginValidator"/>
            </h:inputText>
            <div class="error-message">
                <h:message errorClass="error-message" for="username"/>
            </div>
        </div>

        <div class="form-group">
            <h:inputSecret id="password" styleClass="form-control" a:placeholder="Password"
                           value="#{loginRequest.password}">
                <f:validator validatorId="passwordLoginValidator"/>
            </h:inputSecret>
            <div class="error-message">
                <h:message errorClass="error-message" for="password"/>
            </div>
        </div>
        <h:commandButton styleClass="btn btn-primaty" value="Login" action="#{loginController.login(loginRequest)}"/> <br/>
        <h:link value="Signup" outcome="register" />
    </h:form>

</h:body>
</html>
