<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
>

<h:head>
    <h:outputStylesheet name="bootstrap.css" library="css"/>
    <h:outputStylesheet name="main.css" library="css"/>
</h:head>

<h:body>
    <h:form styleClass="form-base">
        <div class="form-group">
            <h:inputText id="username" styleClass="form-control" a:placeholder="Username"
                         value="#{registerRequest.username}">
                <f:validator validatorId="usernameValidator"/>
            </h:inputText>
            <div class="error-message">
                <h:message errorClass="error-message" for="username"/>
            </div>
        </div>

        <div class="form-group">
            <h:inputText id="email" styleClass="form-control" a:placeholder="Email"
                         value="#{registerRequest.email}">
                <f:validator validatorId="emailValidator"/>
            </h:inputText>
            <div class="error-message">
                <h:message errorClass="error-message" for="email"/>
            </div>
        </div>

        <div class="form-group">
            <h:inputText id="firstName" styleClass="form-control" a:placeholder="First name"
                         value="#{registerRequest.firstName}">
                <f:validator validatorId="firstNameValidator"/>
            </h:inputText>
            <div class="error-message">
                <h:message errorClass="error-message" for="firstName"/>
            </div>

        </div>

        <div class="form-group">
            <h:inputText id="lastName" styleClass="form-control" a:placeholder="Last name"
                         value="#{registerRequest.lastName}">
                <f:validator validatorId="lastNameValidator"/>
            </h:inputText>
            <div class="error-message">
                <h:message errorClass="error-message" for="lastName"/>
            </div>

        </div>

        <div class="form-group">
            <h:inputText id="birthday" styleClass="form-control" a:placeholder="Birthday"
                         value="#{registerRequest.birthday}">
                <f:validator validatorId="birthdayValidator"/>
            </h:inputText>
            <div class="error-message">
                <h:message errorClass="error-message" for="birthday"/>
            </div>

        </div>

        <div class="form-group">
            <h:inputSecret id="password" styleClass="form-control" a:placeholder="Password"
                           value="#{registerRequest.password}">
                <f:validator validatorId="passwordValidator"/>
            </h:inputSecret>
            <div class="error-message">
                <h:message errorClass="error-message" for="password"/>
            </div>
        </div>

        <div class="form-group">
            <h:inputSecret id="passwordCheck" styleClass="form-control" a:placeholder="Confirm password"
                           value="#{registerRequest.passwordCheck}">
                <f:validator validatorId="passwordCheckValidator"/>
            </h:inputSecret>
            <div class="error-message">
                <h:message errorClass="error-message" for="passwordCheck"/>
            </div>

        </div>
        <h:commandButton styleClass="btn btn-primaty" value="Register"
                         action="#{registerController.register(registerRequest)}"/> <br/>

    </h:form>

</h:body>
</html>
